*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*não funcional*/
@font-face {
    font-family: 'Fira';
    src: local('../fonts/FiraCode-VariableFont_wght.ttf'),
    format('truetype');
    font-size: normal;
    font-weight: normal;

}

/* header*/

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #7C5E99;
    height: 50px;

    font-size: 20px;
    font-family: 'Fira Code', monospace;

}

.img-header{
    margin-top: 10px;
    margin-left: 10px;
}

.nav-items{
    display: flex;
    flex-direction: row;


    margin-right: 25px;
    margin-top: 10px;
}

.nav-items div, button{
    margin-right: 15px;
}

section{
    width: 10%;
}

.container, section{
    height: 100%;
}

/*all section*/

.titulo-main{
    text-align: center;

    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #ffffff;
}

/* section intro */

#intro{
    height: 600px;
    width: 100%;
    top: 80px;
    background-color: blueviolet;
}

/* section skills */

#skills{
    height: 700px;
    width: 100%;

    background-color: #ec657a;
}

/* section projetos */

#projetos{
    height: 400px;
    width: 100%;

    background-color: #000000;
}

/* section sobre */

#sobre{
    height: 400px;
    width: 100%;

    background-color: #7C5E99;
}

/* section contato */

#contato{
    height: 700px;
    width: 100%;

    background-color: #525151;
}

/* footer */

footer{
    height: 400px;
    width: 100%;

    background-color: #000000;
}