*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*não funcional*/
@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-VariableFont_wght.ttf');
    font-size: normal;
    font-weight: normal;

}

/* header*/

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #7C5E99;
    height: 75px;

    font-size: 20px;
    font-family: 'Fira Code', monospace;

}

.img-header{
    margin-top: 10px;
    margin-left: 10px;
}

.nav-items{
    display: flex;
    flex-direction: row;


    margin-right: 25px;
    margin-top: 15px;

    color: #ffffff;

    cursor: pointer;
    transition: .3s ease all;

}

.nav-items a{
    text-decoration: none;
    color: #ffffff;

    margin-right: 15px;
}


.nav-items div, button{
    margin-right: 20px;
    
}

.nav-items button{
    background-color: #ec657a;
    width: 170px;
    height: 45px;
    
    border: 1px solid;
    box-shadow: 3px 3px #a8a8a8;

}

.nav-items button a{
    text-decoration: none;
    color: #ffffff;
    
}

.container, section{
    height: 100%;
}

.nav-items a:hover{
    color: #ec657a;
    font-size: 23px;
    letter-spacing: 2px;

}

a#buttonCv{
    border: 1px solid;

    padding: 10px;
    margin-top: -7px;

    height: 50px;
}

a#buttonCv:hover{
    background-color: #ec657a;
    letter-spacing: 0px;
    color: #ffffff;
   
}

.nav-items button:hover{
    background-color: #ffffff;    
}

.nav-header img{
    height: 60px;
    width: 50px;

    margin-top: -5px;
}


/*all section*/


/* section intro */

#intro{
    height: 600px;
    width: 100%;
    top: 80px;
    background-color: blueviolet;
}

/* section skills */

#skills{
    height: 700px;
    width: 100%;

    background-color: #ec657a;
}


h2{
    

    text-shadow: 10px 5px 5px rgb(0, 0, 0);

    text-align: center;
    padding-top: 15px;

    font-family: 'Press Start 2P', cursive;
    font-size: 175%;
    color: #ffffff;
}

/* section projetos */

#projetos{
    
    width: 100vw;

    
    background-color: #000000;
}

.container-projetos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    border: 2px solid #ffffff;

    margin-top: 50px;
    

    width: 100%;

}

.cardPro img{
    width: 100%;
    
    
}

.cardPro{
    width: 30%;
    margin: 10px;

    border: 2px solid #ffffff;

}

.cardPro:hover{
    animation: pulse;
    animation-duration: 2s;
}

.cardPro p{
    color: #ffffff;

}

.visivel{
    display: none;
}

.opacidade{
    opacity: 0.4;
}


/* section sobre */

#sobre{
    height: 400px;
    width: 100%;

    background-color: #7C5E99;
}

/* section contato */

#contato{
    height: 700px;
    width: 100%;

    background-color: #525151;
}

#formulario{
    display: flex;
    flex-direction: column;

    margin-left: 20%;
    margin-right: 20%;
    
}

.form-items{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

#formulario button{
    width: 100%;
    padding: 7px;
    font-size: 1.4em;

    margin-top: 2%;

    border: none;
    border-radius: 5px;

    color: #ffffff;

    background:linear-gradient(45deg, #ffffff, #000000);
}

#formulario button:hover{
    background:linear-gradient(45deg, #000000, #ffffff);

    padding: 8px;
    letter-spacing: 4px;
}

#formulario input, textarea{
    outline: none;

    resize: none;

    padding: 5px;
    border: none;
    border-radius: 5px;

}

/* footer */

footer{
    height: 400px;
    width: 100%;

    background-color: #000000;
}