*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*não funcional*/
@font-face {
    font-family: 'Fira';
    src: local('../fonts/FiraCode-VariableFont_wght.ttf'),
    format('truetype');
    font-size: normal;
    font-weight: normal;

}

/* header*/

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #7C5E99;
    height: 75px;

    font-size: 20px;
    font-family: 'Fira Code', monospace;

}

.img-header{
    margin-top: 10px;
    margin-left: 10px;
}

.nav-items{
    display: flex;
    flex-direction: row;


    margin-right: 25px;
    margin-top: 15px;

    color: #ffffff;

    cursor: pointer;
    transition: .3s ease all;

}

.nav-items div{
    margin-top: 8px;
}

.nav-items div, button{
    margin-right: 20px;
    
}

.nav-items button{
    background-color: #ec657a;
    width: 170px;
    height: 45px;
    
    border: 1px solid;
    box-shadow: 3px 3px #a8a8a8;

}

.nav-items button a{
    text-decoration: none;
    color: #ffffff;
    
}

.container, section{
    height: 100%;
}

.nav-items div:hover{
    color: #ec657a;
    font-size: 25px;
}

.nav-items button a:hover{
    color: #ec657a;
}

.nav-items button:hover{
    background-color: #ffffff;    
}

.nav-header img{
    height: 60px;
    width: 50px;

    margin-top: -5px;
}


/*all section*/

.titulo-main{
    text-align: center;

    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #ffffff;
}

/* section intro */

#intro{
    height: 600px;
    width: 100%;
    top: 80px;
    background-color: blueviolet;
}

/* section skills */

#skills{
    height: 700px;
    width: 100%;

    background-color: #ec657a;
}

/* section projetos */

#projetos{
    height: 400px;
    width: 100%;

    background-color: #000000;
}

/* section sobre */

#sobre{
    height: 400px;
    width: 100%;

    background-color: #7C5E99;
}

/* section contato */

#contato{
    height: 700px;
    width: 100%;

    background-color: #525151;
}

/* footer */

footer{
    height: 400px;
    width: 100%;

    background-color: #000000;
}